{% extends 'base.html.twig' %}

{% block title %}Compte Banni{% endblock %}

{% block body %}
<div class="container mt-5 text-center">
    <h1 class="text-danger">Compte Banni</h1>
    <p>{{ message }}</p>
</div>
{% endblock %}
