{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bienvenue sur mon projet Symfony ! 🎉</h1>

    <p>Ceci est la page d’accueil de votre projet. Utilisez-la pour introduire votre application ou diriger les utilisateurs vers les sections principales.</p>

    <ul>
        <li><a href="/about">À propos</a></li>
        <li><a href="/contact">Contactez-nous</a></li>
    </ul>
</div>
{% endblock %}
