<form method="post" action="{{ path('app_tutoriel_delete', {'id': tutoriel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tutoriel.id) }}">
    <button class="btn">Delete</button>
</form>
